@charset "UTF-8";
//@import "../../front-src/dev/css/timewallet.scss";

$header_height : 45px;  // 헤더 높이


html { height:100%; min-height:100%; }
body { height:100%; margin:0; padding:0 }
.app { height:100%; }

  .container
  {
      padding:0 !important;

      .page-container{ height:100%; overflow:hidden; }
      .page { position:absolute; } // 페이지 전환시에 css transform 애니메이션 사용을 위해서.

      .header { position:relative !important; width:100% !important; } //  기존코드에는 position:fixed로 되어서 페이지 컨텐츠 부분이 풀스크린 사이즈로 잡히게 되어서 수정
      .page-contents { height: calc( 100% - #{$header_height}) !important; background:#fff; overflow-x:hidden; overflow-y:auto; -webkit-overflow-scrolling:touch;} // 페이지 컨텐츠 부분 높이 설정.

      .popup-background{ position:absolute; width:100%; height:100%; left:0; top:0; opacity:0; display:none; background:#000; }

      .popup-container-wrapper
      {
          position:absolute; width:100%; height:100%; overflow:hidden; left:0; top:0; display:none;
          .popup-container
          {
              position:relative; width:100%; height:100%;
              .modal{ top:50%; -webkit-transform:translate(0,-50%);}
          }
      }

  }

