@charset "UTF-8";
//@import "../../front-src/dev/css/timewallet.scss";

$header_height : 45px;  // 헤더 높이
$shop_category_height : 89px; // 매장 카테고리 선택 메뉴 높이
$coupon_category_height: 121px;



html { height:100%; min-height:100%; }
body { height:100%; margin:0; padding:0 }
.app { height:100%; }

.container
{
    padding:0 !important;

    .page-container{ height:100%; overflow:hidden; }
    .page { position:absolute; overflow:hidden;} // 페이지 전환시에 css transform 애니메이션 사용을 위해서.

    .header { position:relative !important; width:100% !important; } //  기존코드에는 position:fixed로 되어서 페이지 컨텐츠 부분이 풀스크린 사이즈로 잡히게 되어서 수정
    .page-contents { height: calc( 100% - #{$header_height}) !important; background:#fff; overflow-x:hidden; overflow-y:auto; -webkit-overflow-scrolling:touch;} // 페이지 컨텐츠 부분 높이 설정.

    .shoplist-shoplist-container
    {
        min-height: calc( 100% - #{$shop_category_height});
        height:calc( 100% - #{$shop_category_height});
        overflow-y:auto;
        padding:18px 0 8px 0;

        .shoplist-cover
        {
            width:100%;height:100%;background-color:#000;opacity:0; position:absolute; left:0; top:0;
        }
    }

    .popup-background{ position:absolute; width:100%; height:100%; left:0; top:0; opacity:0; display:none; background:#000; }

    .popup-container-wrapper
    {
        position:absolute; width:100%; height:100%; overflow:hidden; left:0; top:0; display:none;
        .popup-container
        {
            position:relative; width:100%; height:100%;
            .modal{ top:50%; -webkit-transform:translate(0,-50%);}
        }
    }

    .modal-location{ height:100%; background-color:#FFF;}
    .list-location{ height: calc( 100% - #{$header_height}); overflow-y:scroll; min-height:calc( 100% - #{$header_height});}

    .modal-inner{ height:100% !important;}
    .modal-contents{ height:100% !important;}

    .search-history-list{ height: calc( 100% - 100px - #{$header_height}); }

}

.modal-cover {
    width:100%;height:100%;background-color:#000;opacity:0; position:absolute; left:0; top:0;
}

.twCoupon_exchange {

    .contentsScroll {
        min-height : calc(100% - #{$coupon_category_height});
        height : calc(100% - #{$coupon_category_height});
    }
}